// mixin con parametros 
@mixin flex-2($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;

}

@mixin medidas($width, $height, $margin, $padding) {
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
}

@mixin margins($margin-top, $margin-bottom) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

@mixin mensajes($display, $font-size, $color) {
    display: $display;
    font-size: $font-size;
    color: $color;
}

@mixin wyh($widht, $height) {
    width: $widht;
    height: $height;
}





// mixin sin parametros

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: grey;
    color: $color-body;
}

@mixin contacto {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@mixin align {
    text-align: center;
}